<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082445479120-862qalnap92luhm3qf1bieimmo203t56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082445479120-862qalnap92luhm3qf1bieimmo203t56</string>
	<key>API_KEY</key>
	<string>AIzaSyA7UGIA21W7PdeAEO1Hq7v8DOh8MQY3jJg</string>
	<key>GCM_SENDER_ID</key>
	<string>1082445479120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoom</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-5ac2a</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-5ac2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082445479120:ios:0cbdd8a08545a8109272d5</string>
</dict>
</plist>